/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
color: #ffffff;
background-image: linear-gradient(180deg, #140152, #2f089a, #430dd8) ;
font-family: 'Courier New', Courier, monospace;
line-height: 1.6;
}

/* header */
header{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #04052e;
background-color: #0d00a4;
}

nav{
text-align: right;
align-content: center;

}

nav a {
    color: #ffffff;
text-decoration: none;
margin-right: 20px;
font-size: 20px;
padding: 3px 10px;
background-color: brown;
}

nav a:hover{
    display: inline;
    background-color: rgb(72, 20, 92);
    color: rgb(72, 154, 226);
}

